*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    height: 100vh;
    background-color: beige;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: px;
    width: 100%;
    background-color: blue;
}
nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: blue;
    margin: o auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}